<!DOCTYPE html>
<html class="has-navbar-fixed-top" data-theme="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta id="chartData" ignored-files="{{ ignored_files_num }}" not-complex-cyclomatic="{{ not_complex_cyclomatic }}"
    complex-cyclomatic="{{ complex_cyclomatic }}" not-complex-cognitive="{{ not_complex_cognitive }}"
    complex-cognitive="{{ complex_cognitive }}" />
  <title>Weighted Code Coverage</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
  <script src="https://use.fontawesome.com/releases/v6.5.1/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <style>
    {% include 'style.css' %}
  </style>
</head>

<body>
  {% include 'navbar.html' %}

  <!-- Successfull analysis -->
  {% if files|length != 0 %}
  <div class="columns is-variable m-1 is-1 is-multiline">
    <div class="column is-full-touch">
      <div class="columns">
        <!-- Analysis parameters -->
        <div class="column">
          <div class="card">
            <div class="card-content">
              <h5 class="title is-5">Analysis parameters</h5>
              <div class="level is-mobile mb-2">
                <p id="mode" class="level-left has-text-grey pointer" style="cursor: pointer;">Mode</p>
                <p class="level-right has-text-weight-medium">{{ mode }}</p>
              </div>
              <div class="level is-mobile">
                <p id="complexity-type" class="level-left has-text-grey pointer">Complexity</p>
                <p class="cyclomatic level-right has-text-weight-medium">Cyclomatic</p>
                <p class="cognitive is-hidden level-right has-text-weight-medium">Cognitive</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Analysis parameters -->
        <div class="column">
          <div class="card">
            <div class="card-content">
              <h5 id="thresholds" class="title is-5 is-inline-block pointer">Thresholds</h5>
              <div class="fixed-grid has-3-cols">
                <div class="grid grid-gap">
                  <div class="cell has-text-grey">Coverage</div>
                  <div class="cell is-col-start-2 has-text-right has-text-weight-medium">&ge;</div>
                  <div class="cell has-text-right has-text-weight-medium">60.0&percnt;</div>
                  <div class="cell has-text-grey ir-row-start-2">Wcc</div>
                  <div class="cell is-col-start-2 has-text-right has-text-weight-medium">&ge;</div>
                  <div class="cell has-text-right has-text-weight-medium">{{ thresholds.wcc }}&percnt;</div>
                  <div class="cell has-text-grey ir-row-start-3">CRAP</div>
                  <div class="cell is-col-start-2 has-text-right has-text-weight-medium">&le;</div>
                  <div class="cyclomatic cell has-text-right has-text-weight-medium">{{ thresholds.crapCyclomatic }}
                  </div>
                  <div class="cognitive is-hidden cell has-text-right has-text-weight-medium">{{
                    thresholds.crapCognitive }}</div>
                  <div class="cell has-text-grey ir-row-start-4">Skunk</div>
                  <div class="cell is-col-start-2 has-text-right has-text-weight-medium">&le;</div>
                  <div class="cyclomatic cell has-text-right has-text-weight-medium">{{ thresholds.skunkCyclomatic }}
                  </div>
                  <div class="cognitive is-hidden cell has-text-right has-text-weight-medium">{{
                    thresholds.skunkCognitive }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Coverage -->
        <div class="column">
          <div class="card">
            <div class="card-content">
              <h5 class="title is-5" style="margin-bottom: 32px;">Coverage</h5>
              <div class="columns is-vcentered is-flex-mobile">
                <div class="column card-row">
                  <p class="has-text-grey has-text-left">Overall</p>
                </div>
                <div class="column card-row">
                  <div class="progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.total.coverage < 60 %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.total.coverage }}" max="100">
                      {{ project.total.coverage }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.total.coverage }}%
                    </p>
                  </div>
                </div>
              </div>
              <div class="columns is-vcentered is-flex-mobile">
                <div class="column card-row">
                  <p class="has-text-grey has-text-left">Min</p>
                </div>
                <div class="column card-row">
                  <div class="progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.min.coverage < 60 %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.min.coverage }}" max="100">
                      {{ project.min.coverage }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.min.coverage }}%
                    </p>
                  </div>
                </div>
              </div>
              <div class="columns is-vcentered is-flex-mobile">
                <div class="column card-row">
                  <p class="has-text-grey has-text-left">Max</p>
                </div>
                <div class="column card-row">
                  <div class="progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.max.coverage < 60 %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.max.coverage }}" max="100">
                      {{ project.max.coverage }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.max.coverage }}%
                    </p>
                  </div>
                </div>
              </div>
              <div class="columns is-vcentered is-flex-mobile">
                <div class="column card-row">
                  <p class="has-text-grey has-text-left">Average</p>
                </div>
                <div class="column card-row">
                  <div class="progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.average.coverage < 60 %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.average.coverage }}" max="100">
                      {{ project.average.coverage }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.average.coverage }}%
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <!-- Wcc -->
        <div class="column">
          <div class="card">
            <div class="card-content">
              <h5 class="title is-5 wcc is-inline-block pointer" style="margin-bottom: 32px;">Wcc</h5>
              <div class="columns is-vcentered is-flex-mobile">
                <div class="column card-row">
                  <p class="has-text-grey has-text-left">Overall</p>
                </div>
                <div class="column card-row">
                  <div class="cyclomatic progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.total.cyclomatic.wcc < thresholds.wcc %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.total.cyclomatic.wcc }}" max="100">
                      {{ project.total.cyclomatic.wcc }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.total.cyclomatic.wcc }}%
                    </p>
                  </div>
                  <div class="cognitive is-hidden progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.total.cognitive.wcc < thresholds.wcc %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.total.cognitive.wcc }}" max="100">
                      {{ project.total.cognitive.wcc }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.total.cognitive.wcc }}%
                    </p>
                  </div>
                </div>
              </div>
              <div class="columns is-vcentered is-flex-mobile">
                <div class="column card-row">
                  <p class="has-text-grey has-text-left">Min</p>
                </div>
                <div class="column card-row">
                  <div class="cyclomatic progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.min.cyclomatic.wcc < thresholds.wcc %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.min.cyclomatic.wcc }}" max="100">
                      {{ project.min.cyclomatic.wcc }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.min.cyclomatic.wcc }}%
                    </p>
                  </div>
                  <div class="cognitive is-hidden progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.min.cognitive.wcc < thresholds.wcc %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.min.cognitive.wcc }}" max="100">
                      {{ project.min.cognitive.wcc }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.min.cognitive.wcc }}%
                    </p>
                  </div>
                </div>
              </div>
              <div class="columns is-vcentered is-flex-mobile">
                <div class="column card-row">
                  <p class="has-text-grey has-text-left">Max</p>
                </div>
                <div class="column card-row">
                  <div class="cyclomatic progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.max.cyclomatic.wcc < thresholds.wcc %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.max.cyclomatic.wcc }}" max="100">
                      {{ project.max.cyclomatic.wcc }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.max.cyclomatic.wcc }}%
                    </p>
                  </div>
                  <div class="cognitive is-hidden progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.max.cognitive.wcc < thresholds.wcc %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.max.cognitive.wcc }}" max="100">
                      {{ project.max.cognitive.wcc }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.max.cognitive.wcc }}%
                    </p>
                  </div>
                </div>
              </div>
              <div class="columns is-vcentered is-flex-mobile">
                <div class="column card-row">
                  <p class="has-text-grey has-text-left">Average</p>
                </div>
                <div class="column card-row">
                  <div class="cyclomatic progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.average.cyclomatic.wcc < thresholds.wcc %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.average.cyclomatic.wcc }}" max="100">
                      {{ project.average.cyclomatic.wcc }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.average.cyclomatic.wcc }}%
                    </p>
                  </div>
                  <div class="cognitive is-hidden progress-wrapper">
                    <progress
                      class="progress is-medium mb-0 {% if project.average.cognitive.wcc < thresholds.wcc %}is-danger{% else %}is-success{% endif %}"
                      value="{{ project.average.cognitive.wcc }}" max="100">
                      {{ project.average.cognitive.wcc }}%
                    </progress>
                    <p class="progress-value has-text-grey-dark">
                      {{ project.average.cognitive.wcc }}%
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- CRAP -->
        <div class="column">
          <div class="card">
            <div class="card-content">
              <h5 class="title is-5 crap is-inline-block pointer">CRAP</h5>
              <div class="level is-mobile mb-2">
                <p class="level-left has-text-grey">Overall</p>
                <p
                  class="cyclomatic level-right has-text-weight-medium {% if project.total.cyclomatic.crap > thresholds.crapCyclomatic %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.total.cyclomatic.crap }}</p>
                <p
                  class="cognitive is-hidden level-right has-text-weight-medium {% if project.total.cognitive.crap > thresholds.crapCognitive %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.total.cognitive.crap }}</p>
              </div>
              <div class="level is-mobile mb-2">
                <p class="level-left has-text-grey">Min</p>
                <p
                  class="cyclomatic level-right has-text-weight-medium {% if project.min.cyclomatic.crap > thresholds.crapCyclomatic %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.min.cyclomatic.crap }}</p>
                <p
                  class="cognitive is-hidden level-right has-text-weight-medium {% if project.min.cognitive.crap > thresholds.crapCognitive %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.min.cognitive.crap }}</p>
              </div>
              <div class="level is-mobile mb-2">
                <p class="level-left has-text-grey">Max</p>
                <p
                  class="cyclomatic level-right has-text-weight-medium {% if project.max.cyclomatic.crap > thresholds.crapCyclomatic %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.max.cyclomatic.crap }}</p>
                <p
                  class="cognitive is-hidden level-right has-text-weight-medium {% if project.max.cognitive.crap > thresholds.crapCognitive %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.max.cognitive.crap }}</p>
              </div>
              <div class="level is-mobile mb-2">
                <p class="level-left has-text-grey">Average</p>
                <p
                  class="cyclomatic level-right has-text-weight-medium {% if project.average.cyclomatic.crap > thresholds.crapCyclomatic %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.average.cyclomatic.crap }}</p>
                <p
                  class="cognitive is-hidden level-right has-text-weight-medium {% if project.average.cognitive.crap > thresholds.crapCognitive %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.average.cognitive.crap }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Skunk -->
        <div class="column">
          <div class="card">
            <div class="card-content">
              <h5 class="title is-5 skunk is-inline-block pointer">Skunk</h5>
              <div class="level is-mobile mb-2">
                <p class="level-left has-text-grey">Overall</p>
                <p
                  class="cyclomatic level-right has-text-weight-medium {% if project.total.cyclomatic.skunk > thresholds.skunkCyclomatic %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.total.cyclomatic.skunk }}</p>
                <p
                  class="cognitive is-hidden level-right has-text-weight-medium {% if project.total.cognitive.skunk > thresholds.skunkCognitive %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.total.cognitive.skunk }}</p>
              </div>
              <div class="level is-mobile mb-2">
                <p class="level-left has-text-grey">Min</p>
                <p
                  class="cyclomatic level-right has-text-weight-medium {% if project.min.cyclomatic.skunk > thresholds.skunkCyclomatic %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.min.cyclomatic.skunk }}</p>
                <p
                  class="cognitive is-hidden level-right has-text-weight-medium {% if project.min.cognitive.skunk > thresholds.skunkCognitive %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.min.cognitive.skunk }}</p>
              </div>
              <div class="level is-mobile mb-2">
                <p class="level-left has-text-grey">Max</p>
                <p
                  class="cyclomatic level-right has-text-weight-medium {% if project.max.cyclomatic.skunk > thresholds.skunkCyclomatic %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.max.cyclomatic.skunk }}</p>
                <p
                  class="cognitive is-hidden level-right has-text-weight-medium {% if project.max.cognitive.skunk > thresholds.skunkCognitive %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.max.cognitive.skunk }}</p>
              </div>
              <div class="level is-mobile mb-2">
                <p class="level-left has-text-grey">Average</p>
                <p
                  class="cyclomatic level-right has-text-weight-medium {% if project.average.cyclomatic.skunk > thresholds.skunkCyclomatic %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.average.cyclomatic.skunk }}</p>
                <p
                  class="cognitive is-hidden level-right has-text-weight-medium {% if project.average.cognitive.skunk > thresholds.skunkCognitive %}has-text-danger{% else %}has-text-success{% endif %}">
                  {{ project.average.cognitive.skunk }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Files chart -->
    <div class="column is-full is-one-third-widescreen">
      <div class="card">
        <div class="card-content">
          <h5 class="title is-5">Files</h5>
          <div class="is-flex is-align-items-center is-justify-content-center" style="height: 366px">
            <canvas id="chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="card mx-4 mb-4">
    <div class="card-content">
      <div class="table-container">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>
                <h6 id="file" class="title is-6 no-wrap is-inline-block pointer">File</h6>
              </th>
              <th class="has-text-centered no-wrap">
                <h6 id="file-complexity" class="title is-6 no-wrap pointer">Complexity</h6>
              </th>
              <th class="has-text-centered no-wrap">
                <h6 class="title is-6 no-wrap">Coverage</h6>
              </th>
              <th class="has-text-centered no-wrap">
                <h6 class="title is-6 wcc pointer">Wcc</h6>
              </th>
              <th class="has-text-centered no-wrap">
                <h6 class="title is-6 no-wrap crap pointer">CRAP</h6>
              </th>
              <th class="has-text-centered">
                <h6 class="title is-6 no-wrap skunk pointer">Skunk</h6>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %} {% block files_rows %}{% endblock %} {%
            endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% else %}
  <!-- Failed analysis -->
  <div class="is-flex is-align-items-center is-justify-content-center is-flex-direction-column m-3"
    style="height: 75vh">
    <h2 class="title is-2 has-text-centered mb-3">Analysis failed</h2>
    <h3 class="subtitle is-4 has-text-centered">
      It was not possible to retrieve profiling and/or coverage information
      for any of the project files.<br />Make sure to properly run grcov and tests
      with profiling.
    </h3>
  </div>
  {% endif %}
  <!-- Ignored files modal -->
  <div id="modal-js-example" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <h4 class="modal-card-title title is-4">Ignored files</h4>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <p>The following files have been ignored and excluded from the analysis because they lack profiling and/or
            coverage information:</p>
          <ul>
            {% for file in ignored_files|sort %}
            <li>{{ file }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button class="button is-success has-text-white">OK</button>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>

<script>
  // Tooltips.
  {% include 'tooltips.js' %}
  tippy('#file', {
    content: 'A <b>file</b> is considered complex if at least one of the following apply: <b>Wcc</b> below threshold, <b>CRAP</b> or <b>Skunk</b> above threshold.',
    allowHTML: true
  });

  // Ignored files modal handler.
  document.addEventListener('DOMContentLoaded', () => {
    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on various child elements to close the parent modal.
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals.
    document.addEventListener('keydown', (event) => {
      if (event.key === "Escape") {
        closeAllModals();
      }
    });
  });

  // Chart data passed with minijinja.
  const chartData = document.getElementById("chartData");
  const ignoredFiles = chartData.getAttribute("ignored-files");
  const notComplexCyclomatic = chartData.getAttribute("not-complex-cyclomatic");
  const complexCyclomatic = chartData.getAttribute("complex-cyclomatic");
  const notComplexCognitive = chartData.getAttribute("not-complex-cognitive");
  const complexCognitive = chartData.getAttribute("complex-cognitive");

  // Chart setup.
  const data = {
    labels: ["Not complex", "Complex", "Ignored"],
    datasets: [
      {
        data: [notComplexCyclomatic, complexCyclomatic, ignoredFiles],
        borderWidth: 4,
        backgroundColor: ["#50C48C", "#F8446C", "#C5C6C7"],
      },
    ],
  };

  // Chart config.
  const config = {
    type: "doughnut",
    data,
    options: {
      borderRadius: 7,
      aspectRatio: 1.15,
      cutout: "80%",
      plugins: {
        legend: {
          position: "right",
          labels: {
            usePointStyle: true,
            pointStyle: "rectRounded",
          },
        },
        tooltip: {
          animation: false,
          usePointStyle: true,
          boxPadding: 4,
          callbacks: {
            beforeFooter: function (context) {
              return " ";
            },
            footer: function (context) {
              if (context[0].label == "Ignored") {
                return "Click to see the ignored files list";
              }
            },
            labelPointStyle: function (context) {
              return {
                pointStyle: "rectRounded",
                rotation: 0,
              };
            },
          },
        },
      },
      onHover: (event, chartElement) => {
        if (chartElement[0] && data.labels[chartElement[0].index] == "Ignored") {
          event.native.target.style.cursor = 'pointer';
        } else {
          event.native.target.style.cursor = 'default';
        }
      },
    },
  };

  // Chart render.
  const ctx = document.getElementById("chart");
  const chart = new Chart(
    ctx,
    config
  );

  // Chart ignored files click handler.
  function ignoredHandler(click) {
    const points = chart.getElementsAtEventForMode(click, 'nearest', { intersect: true }, true);
    if (points[0]) {
      const dataset = points[0].datasetIndex;
      const datapoint = points[0].index;
      if (data.labels[datapoint] === "Ignored") {
        document.getElementById("modal-js-example").classList.add('is-active');
      }
    }
  }
  ctx.onclick = ignoredHandler;

  {% include 'complexity.js' %}
</script>