{% extends "base.html" %} {% block content %} {% for file in files %}
<tr
  class="{% if file.metrics.is_complex %}complex{% else %}not-complex{% endif %}"
>
  <td>
    <span class="icon">
      <i class="fas fa-file"></i>
    </span>
    <span>{{ file.name }}</span>
  </td>
  <td class="has-text-centered">{{ file.metrics.coverage }}%</td>
  <td class="has-text-centered">{{ file.metrics.complexity }}</td>
  <td>
    <div class="progress-wrapper">
      <progress
        class="progress is-medium {% if file.metrics.wcc < thresholds[0] %}is-danger{% else %}is-success{% endif %}"
        value="{{ file.metrics.wcc }}"
        max="100"
      >
        {{ file.metrics.wcc }}%
      </progress>
      <p class="progress-value has-text-grey-dark">{{ file.metrics.wcc }}%</p>
    </div>
  </td>
  <td
    class="{% if file.metrics.crap > thresholds[1] %}has-text-danger{% else %}has-text-success{% endif %} has-text-weight-medium has-text-centered"
  >
    {{ file.metrics.crap }}
  </td>
  <td
    class="{% if file.metrics.skunk > thresholds[2] %}has-text-danger{% else %}has-text-success{% endif %} has-text-weight-medium has-text-centered"
  >
    {{ file.metrics.skunk }}
  </td>
</tr>
{% endfor %} {% endblock %}
