{% extends "base.html" %} {% block content %} {% for file in files %}
<tr class="{% if file[1].metrics.is_complex %}complex{% else %}not-complex{% endif %}">
  <td>
    <span>
      {% if file[1].functions|length == 0 %}
      <span class="icon">
        <i class="fas fa-file"></i>
      </span>
      {% else %}
      <span>
        <i
          class="fas fa-sm fa-chevron-right"
          id="expand-icon-{{ loop.index0 }}"
          onclick="toggleFunctionDetails('{{ loop.index0 }}')"
        ></i>
      </span>
      <span class="icon">
        <i class="fas fa-file"></i>
      </span>
      {% endif %}
      <a href="{{ file[0] }}">{{ file[1].name }}</a>
    </span>
  </td>
  <td class="has-text-centered">{{ file[1].metrics.coverage }}%</td>
  <td class="has-text-centered">{{ file[1].metrics.complexity }}</td>
  <td>
    <div class="progress-wrapper">
      <progress
        class="progress is-medium {% if file[1].metrics.wcc < thresholds[0] %}is-danger{% else %}is-success{% endif %}"
        value="{{ file[1].metrics.wcc }}"
        max="100"
      >
        {{ file[1].metrics.wcc }}%
      </progress>
      <p class="progress-value has-text-grey-dark">
        {{ file[1].metrics.wcc }}%
      </p>
    </div>
  </td>
  <td
    class="{% if file[1].metrics.crap > thresholds[1] %}has-text-danger{% else %}has-text-success{% endif %} has-text-weight-medium has-text-centered"
  >
    {{ file[1].metrics.crap }}
  </td>
  <td
    class="{% if file[1].metrics.skunk > thresholds[2] %}has-text-danger{% else %}has-text-success{% endif %} has-text-weight-medium has-text-centered"
  >
    {{ file[1].metrics.skunk }}
  </td>
</tr>
{% if file[1].functions|length != 0 %}
<tr id="details-{{ loop.index0 }}" class="is-hidden">
  <td colspan="7" class="has-background-white-ter">
    <table class="table is-fullwidth inner-table">
      <thead>
        <tr>
          <th>
            <h6 class="title is-6 has-text-weight-bold">Functions</h6>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for function in file[1].functions %}
        <tr
          class="{% if function.metrics.is_complex %}complex{% else %}not-complex{% endif %}"
        >
          <td>{{ function.name }}</td>
          <td class="has-text-centered">{{ function.metrics.coverage }}%</td>
          <td class="has-text-centered">{{ function.metrics.complexity }}</td>
          <td>
            <div class="progress-wrapper">
              <progress
                class="progress is-medium {% if function.metrics.wcc < thresholds[0] %}is-danger{% else %}is-success{% endif %}"
                value="{{ function.metrics.wcc }}"
                max="100"
              >
                {{ function.metrics.wcc }}%
              </progress>
              <p class="progress-value has-text-grey-dark">
                {{ function.metrics.wcc }}%
              </p>
            </div>
          </td>
          <td
            class="{% if function.metrics.crap > thresholds[1] %}has-text-danger{% else %}has-text-success{% endif %} has-text-weight-medium has-text-centered"
          >
            {{ function.metrics.crap }}
          </td>
          <td
            class="{% if function.metrics.skunk > thresholds[2] %}has-text-danger{% else %}has-text-success{% endif %} has-text-weight-medium has-text-centered"
          >
            {{ function.metrics.skunk }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </td>
</tr>
{% endif %} {% endfor %} {% endblock %}
